<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="mr-4">&copy; 2020 Me, all rights reserved!</div>
    <a class="twitter-icon mr-2 text-info" href="http://twitter.com">
      <FaIcon @icon="twitter-square" @prefix="fab" @size="2x"/>
    </a>
    <a class="linkedin-icon mr-2 text-info" href="http://linkedin.com">
      <FaIcon @icon="linkedin" @prefix="fab" @size="2x"/>
    </a>
    <a class="github-icon mr-2 text-info" href="http://github.com">
      <FaIcon @icon="github-square" @prefix="fab" @size="2x"/>
    </a>
    <a class="facebook-icon text-info" href="http://facebook.com">
      <FaIcon @icon="facebook-square" @prefix="fab" @size="2x"/>
    </a>
  </div>
</footer>