
<div class="card-header d-flex align-items-center"> 
  <span class="text-muted">Name:</span> 
  <span class="text-center mx-auto font-bold">{{@name}} </span>
  {{#if @length}}
    <div class=" d-inline-block float-right bg-danger text-white  book-indicator">{{@length}}</div>
  {{/if}}
</div>