<div class="card-body">
  <div class="mb-2">
    <span class="text-muted">Adress</span>
    <span class="font-weight-bold">{{@info.address}}</span>
  </div>
  <div class="mb-2">
    <span class="text-muted">Phone</span>
    <span class="font-weight-bold">{{@info.phoneNumber}}</span>
  </div>
  <div class="mb-2">
    <span class="text-muted">Additional info</span>
    <span class="font-weight-bold">{{@info.additional}}</span>
  </div>
</div>