<div class="bg-light">
  <div class="d-flex justify-content-center">
    <LinkTo
      @route="show"
      class="nav-link"> 
      Show all
    </LinkTo>

    <LinkTo
      @route="new"
      class="nav-link">
      Add new
    </LinkTo>
  </div>
</div>
{{outlet}}